Repository renovate-bot/khulnasoft-lab-_-khulnasoft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek, @ijjk, @agadzik, @chloetedder, @ztanner, @vercel/compute, @leerob, @Timer, @timneutkens, @huozhi, @Kikobeats

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek
/.github/workflows                       @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek @ijjk
/packages/fs-detectors                   @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek @agadzik @chloetedder
/packages/next                           @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek @ijjk @ztanner
/packages/routing-utils                  @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek @ijjk
/packages/static-build                   @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek
/packages/edge                           @vercel/compute @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek
/examples                                @leerob
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @ijjk @ztanner @huozhi
/packages/node                           @TooTallNate @EndangeredMassa @cb1kenobi @Ethan-Arrowood @trek @Kikobeats

# Unrestricted Paths
.changeset/

Update Yarn to v1.22.21
  packages/fs-detectors/test/fixtures/54-yarn-with-corepack/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/package.json
  packages/node/test/fixtures/37-vercel-og/package.json
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek, @agadzik, @chloetedder, @ijjk, @ztanner, @Kikobeats

Update dependency @11ty/eleventy to v1.0.2
  examples/eleventy/yarn.lock
Owners: @leerob

Update dependency @11ty/eleventy-navigation to v0.3.5
  examples/eleventy/yarn.lock
Owners: @leerob

Update dependency @edge-runtime/node-utils to v2.2.2
  packages/node/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek, @Kikobeats

Update peter-evans/create-or-update-comment digest to 72c3238
  .github/workflows/label-feature-request.yml
  .github/workflows/label-triaged.yml
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek, @ijjk

Update dependency @blitzjs/rpc to v2.0.1
  packages/static-build/test/fixtures/blitz-v2/package-lock.json
  packages/static-build/test/fixtures/blitz-v2/package.json
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek

Update dependency json5 to v2.2.2 [SECURITY]
  package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek

Update dependency got to v11 [SECURITY]
  api/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek

Update dependency @ember/test-helpers to v3.2.1
  examples/ember/package-lock.json
Owners: @leerob

Update dependency @iarna/toml to v2.2.5
  packages/build-utils/package.json
  packages/frameworks/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek

Update dependency next to v14 [SECURITY]
  packages/next/test/integration/legacy-standard/package.json
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek, @ijjk, @ztanner

Update dependency @blitzjs/auth to v2.0.2
  packages/static-build/test/fixtures/blitz-v2/package-lock.json
  packages/static-build/test/fixtures/blitz-v2/package.json
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek

Update dependency @blitzjs/next to v2.0.2
  packages/static-build/test/fixtures/blitz-v2/package-lock.json
  packages/static-build/test/fixtures/blitz-v2/package.json
Owners: @TooTallNate, @EndangeredMassa, @cb1kenobi, @Ethan-Arrowood, @trek
